IVAO ITALY
ATC OPERATIONS DEPARTMENT
AIRAC 1903 EFFECTIVE FROM 25/04/2019
[INFO]
ITALY 1903 V1.0
LIII_CTR
ZZZZ
N041.48.01.000
E012.14.20.000
60
44
+2.0
1 
;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
;											LIPG - Gorizia
;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
;----------------------------------------------------------------------------------------------------
;													ARP
;----------------------------------------------------------------------------------------------------
[AIRPORT]
LIPG    .    N045.54.24.696 E013.35.57.523 E

;----------------------------------------------------------------------------------------------------
;												Airport Details
;----------------------------------------------------------------------------------------------------
;.......................................................
;					Parking Stands
;.......................................................
[AIRPORT]

;.......................................................
;					Parking Stands Lines
;.......................................................
[GEO]

;.......................................................
;					Runways (RWY Button)
;.......................................................
[RUNWAY]

;.......................................................
;					Runways (GEO Button)
;.......................................................
[GEO]
;rwy 09-27
N045.54.24.592 E013.35.32.142 N045.54.25.621 E013.35.32.091 Runway
N045.54.25.621 E013.35.32.091 N045.54.29.463 E013.36.31.234 Runway
N045.54.29.463 E013.36.31.234 N045.54.28.533 E013.36.31.394 Runway
N045.54.28.533 E013.36.31.394 N045.54.24.592 E013.35.32.142 Runway
N045.54.24.592 E013.35.32.142 N045.54.24.592 E013.35.32.142 Runway
;
;rwy 04-22 GLIDERS
N045.54.28.517 E013.36.31.340 N045.54.27.854 E013.36.32.623 Runway
N045.54.27.854 E013.36.32.623 N045.54.11.526 E013.36.11.507 Runway
N045.54.11.526 E013.36.11.507 N045.54.12.197 E013.36.10.115 Runway
N045.54.12.197 E013.36.10.115 N045.54.28.517 E013.36.31.340 Runway
N045.54.28.517 E013.36.31.340 N045.54.28.517 E013.36.31.340 Runway
;.......................................................
;						Taxiways
;.......................................................
[GEO]
;ad_boundary
N045.54.43.789 E013.35.54.729 N045.54.42.579 E013.36.14.496 Taxiway
N045.54.42.579 E013.36.14.496 N045.54.34.141 E013.36.40.032 Taxiway
N045.54.34.141 E013.36.40.032 N045.54.05.890 E013.36.32.819 Taxiway
N045.54.05.890 E013.36.32.819 N045.54.08.279 E013.35.52.739 Taxiway
N045.54.08.279 E013.35.52.739 N045.54.12.119 E013.35.22.244 Taxiway
N045.54.12.119 E013.35.22.244 N045.54.27.437 E013.35.30.613 Taxiway
N045.54.27.437 E013.35.30.613 N045.54.43.789 E013.35.54.729 Taxiway
N045.54.43.789 E013.35.54.729 N045.54.43.789 E013.35.54.729 Taxiway
;
;.......................................................
;					Taxiways Centerlines
;.......................................................
[GEO]

;.......................................................
;					Taxiways Designators
;.......................................................
[SID]

[STAR]

;.......................................................
;						Stopbars
;.......................................................
[GEO]

;.......................................................
;						Buildings
;.......................................................
[GEO]

;----------------------------------------------------------------------------------------------------
;										(RWY) Rwy CenterLine Extension
;----------------------------------------------------------------------------------------------------
[SID]

[STAR]

;----------------------------------------------------------------------------------------------------
;													MVAs
;----------------------------------------------------------------------------------------------------
[SID]

[STAR]

;----------------------------------------------------------------------------------------------------
;													MVAVs
;----------------------------------------------------------------------------------------------------
[SID]

[STAR]

;----------------------------------------------------------------------------------------------------
;													CTR
;----------------------------------------------------------------------------------------------------
[SID]

[STAR]

;----------------------------------------------------------------------------------------------------
;												VFR Points
;----------------------------------------------------------------------------------------------------
[SID]

[STAR]
