IVAO ITALY
ATC OPERATIONS DEPARTMENT
AIRAC 1903 EFFECTIVE FROM 25/04/2019
[INFO]
ITALY 1903 V1.0
LIII_CTR
ZZZZ
N041.48.01.000
E012.14.20.000
60
44
+2.0
1
;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
;											LIPE - Bologna
;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
;----------------------------------------------------------------------------------------------------
;													ARP
;----------------------------------------------------------------------------------------------------
[AIRPORT]
LIPE    .    N044.31.51.000 E011.17.49.000 E

;----------------------------------------------------------------------------------------------------
;												Airport Details
;----------------------------------------------------------------------------------------------------
;.......................................................
;					Parking Stands
;.......................................................
[AIRPORT]









;----------------------------------------------------------------------------------------------------
;													CTR
;----------------------------------------------------------------------------------------------------
[SID]


[STAR]


;----------------------------------------------------------------------------------------------------
;												VFR Points
;----------------------------------------------------------------------------------------------------
[SID]

[STAR]
